.header, .recipe {
    text-align: center;
}

.recipe {
    background: red;
    border: 3px solid green;
    list-style-position: inside;
    font-weight: bold;
    padding: 8px;
    margin: 8px auto;
    display: block;
}

.front_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 250px;
    width: 250px;
}